.password-input-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.password-input-component .password-main-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-input-component .input-box {
  width: 100%;
  position: relative;
}

.toggle-password-visibility {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5px;
}

.password-input-component .input {
  width: 100%;
  padding: 10px;
  padding-top: 25px;
  color: var(--primary-text-color);
  border: 1px solid var(--input-border-color);
  background-color: var(--input-bg-color);
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  font-family: Nfont, Dfont;
  appearance: none;
  padding-left: 43px;
}

.password-input-component .input:focus {
  outline: none;
  border-color: var(--input-focus-border);
  box-shadow: 0 0 0 3px var(--primary-light);
}

.password-input-component .input.ltr {
  direction: ltr;
}

.password-input-component .input-title {
  position: absolute;
  right: 0;
  padding: 10px;
  padding-top: 13px;
  pointer-events: none;
  color: var(--primary-text-color);
  transition: 0.3s;
}

.password-input-component .input:valid ~ .input-title,
.password-input-component .input:focus ~ .input-title {
  color: var(--secondary-text-color);
  transform: translateX(2px) translateY(2px);
  font-size: 14px;
  padding: 0 10px;
  background-color: inherit;
}

.password-input-component .error-label {
  color: var(--error-color);
  font-size: 12px;
  font-weight: bold;
  padding-right: 5px;
  display: none;
  width: 100%;
}

.password-input-component .error-label.visible {
  display: flex;
}

.password-input-component .password-icon {
  font-size: 22px;
  cursor: pointer;
}